@{
    ViewBag.Title = "Giới thiệu Aries";
}
<!-- SECTION INTRODUCE DETAIL -->
<section class="introduce-detail">
    <div class="container">
        <div class="common-intro">
            <h2 class="title">Giới thiệu</h2>
            <h4 class="sub-title">CÔNG TY TNHH CÔNG NGHỆ ARIES</h4>
            <p><img class="image-intro" src="/images/ab1.jpg" alt="image introduce" width="1181" height="385"></p>
            <div class="description">
                <p><strong>CÔNG TY TNHH CÔNG NGHỆ ARIES</strong> là công ty duy nhất phân phối sản phẩm giải pháp nhà thông minh Zipato và khóa điện tử Schlage. Sản phẩm đạt giải thưởng đột phá về công nghệ tại CES 2017 - Hội chợ hàng điện tử tiêu dùng Mỹ</p>
                <p>Khóa điện tử Schlage Connect - Khóa dành riêng cho căn hộ thông minh. Schlage thương hiệu hàng đầu về khóa tại Mỹ</p>
            </div>
        </div>
        @*<div class="testimonial">
                <div class="row">
                    <div class="col-sm-4 item">
                        <div class="inner">
                            <img class="avatar" src="images/img-4.jpg" alt="ảnh" width="110" height="110"><br>
                            <div class="author">
                                <h4 class="name">Nguyễn Sơn Trường</h4>
                                <h5 class="position">Chủ tịch ARIES</h5>
                            </div>
                            <blockquote class="blockquote">Giải pháp nhà thông minh ARIES là giải pháp nhà thông minh tích hợp đồng bộ các tính năng An ninh, điều khiển chiếu sáng, âm thanh đa vùng, quản lý năng lượng và các ứng dụng điều khiển tự động</blockquote>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="inner">
                            <img class="avatar" src="images/img-11.jpg" alt="ảnh" width="110" height="110"><br>
                            <div class="author">
                                <h4 class="name">Phạm Minh Hiền</h4>
                                <h5 class="position">Tổng giám đốc ARIES</h5>
                            </div>
                            <blockquote class="blockquote">Là đối tác ủy quyền chính của Mỹ tại thị trường Việt Nam, cùng đội ngũ kỹ sư và nhân viên tư vấn giàu kinh nghiệm. Chúng tôi cùng mang sự tiện ích lớn nhất đến ngôi nhà bạn.</blockquote>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="inner">
                            <img class="avatar" src="images/img-12.jpg" alt="ảnh" width="110" height="110"><br>
                            <div class="author">
                                <h4 class="name">Nguyễn Viết Huy</h4>
                                <h5 class="position">Trưởng phòng kinh doanh</h5>
                            </div>
                            <blockquote class="blockquote">Kinh doanh dựa trên sự hài lòng của khách hàng là triết lý của Aries</blockquote>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</section>
<!-- #SECTION INTRODUCE DETAIL -->
<!-- SECTION DOWNLOAD BROCHURE -->
<section class="download-brochure" data-stellar-background-ratio="0.5" style="background-position: 0px -338px;">
    <div class="container">
        <h2 class="title">Vì sao chọn ARIES?</h2>
        <p class="description wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            Vì chúng tôi LỰA CHỌN GIẢI PHÁP PHÙ HỢP và ...
        </p>
        <ul class="list">
            <li class="item wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                Luôn tiên phong trong việc áp dụng công nghệ mới
            </li>
            <li class="item wow fadeInLeft animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                Hỗ trợ khách hàng trong suốt quá trình sử dụng
            </li>
            <li class="item wow fadeInLeft animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                Luôn tận tâm trong mỗi công trình
            </li>
            <li class="item wow fadeInLeft animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
                Giá cả cạnh tranh
            </li>
        </ul>
        <a href="/images/Zipato.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Tải brochure Nhà Thông Minh Zipato
            <i class="icon icon-chevron-right"></i>
        </a>
        <a href="/images/ZIPATILE.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Tải brochure Phụ Kiện Nhà Thông Minh Zipato
            <i class="icon icon-chevron-right"></i>
        </a>
        <a href="/images/FlyerSchlageConnectViet.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Brochure khóa Schlage Connect
            <i class="icon icon-chevron-right"></i>
        </a>
        <a href="/images/FlyerSchlageSenseViet.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Brochure khóa Schlage Sense
            <i class="icon icon-chevron-right"></i>
        </a>
        <a href="/images/FlyerSchlageTouchViet.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Brochure khóa Schlage Touch
            <i class="icon icon-chevron-right"></i>
        </a>
    </div>
</section>
