@{
    ViewBag.Title = "Liên hệ với Aries";
}
<!-- SECTION INTRODUCE DETAIL -->
<section class="introduce-detail">
    <div class="container">
        @*<div class="container">
            <div class="row">
                <div class="col-md-12 row">
                    <div class="well well-sm">
                        <form class="form-horizontal" action="" method="post">
                            <fieldset>
                                <legend class="text-center">Gửi cho chúng tôi yêu cầu của bạn</legend>
                                <!-- Name input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="name">Họ Tên</label>
                                    <div class="col-md-9">
                                        <input id="name" name="name" type="text" placeholder="Tên của bạn" class="form-control">
                                    </div>
                                </div>

                                <!-- Email input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="email">Email</label>
                                    <div class="col-md-9">
                                        <input id="email" name="email" type="text" placeholder="Nhập email" class="form-control">
                                    </div>
                                </div>

                                <!-- Message body -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="message">Yêu cầu của bạn</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="message" name="message" placeholder="Gõ yêu cầu của bạn..." rows="5"></textarea>
                                    </div>
                                </div>
                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 text-right">
                                        <button type="button" class="btn btn-primary btn-lg" onclick="sendcontact();">Gửi Liên Hệ</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="common-intro">
            <h2 class="title">Địa chỉ</h2>
            <h4 class="sub-title">CÔNG TY TNHH CÔNG NGHỆ ARIES</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14895.72694812131!2d105.77649593633305!3d21.035417203697147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4a5e274ded%3A0x27fa4d31a0cef9a9!2zROG7i2NoIFbhu41uZyBI4bqtdSwgQ-G6p3UgR2nhuqV5LCBIYW5vaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1496212145262" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="description">
                <p>CÔNG TY TNHH CÔNG NGHỆ ARIES</p>
                <p>Tầng 1, tòa nhà Lô số B7+B9, ô D21, Khu ĐTM Cầu Giấy, Phường Dịch Vọng Hậu, Quận Cầu Giấy, Tp. Hà Nội, Việt Nam.</p>
            </div>
        </div>
    </div>
</section>
<!-- #SECTION INTRODUCE DETAIL -->
<!-- SECTION DOWNLOAD BROCHURE -->
<section class="download-brochure" data-stellar-background-ratio="0.5" style="background-position: 0px -338px;">
    <div class="container">
        <h2 class="title">Liên hệ</h2>
        <p>
            <h4><a href="tel:0438833366">Phone: (+84) 243 8833366</a></h4>
        </p>
        <p>
            <h4><a href="mailto:support@ariestechco.com">Email: support@ariestechco.com</a></h4>
        </p>
    </div>
</section>
